body {
    font-family: "Lato", sans-serif;
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right, #43c6ac, #f8ffae);
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: orangered;
}

.main {
    margin-left: 280px;
    margin-top: 20px;
    height: 100%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: 5px;

}

.navbar .logo {
    float: left;
    color: white;
    text-align: center;
    padding: auto;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.dropdown {
    border-radius: 10px;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    opacity: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(253, 6, 6, 0.7);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .odd {
    float: none;
    color: black;
    background-color: rgba(141, 131, 131, 0.75);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .even {
    float: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(236, 72, 22, 0.9);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bgimg-1 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    background-position: center;
    min-height: 400px;
}

#page-wrapper {
    overflow: hidden;
    padding: 5em 0em;
    border-radius: 10px;
}

img {
    padding-left: 10%;
    padding-right: 10%;
}

#page h2 {
    padding-bottom: 0.50em;
    text-transform: uppercase;
    font-size: 2.6em;
    font-weight: 300;
    color: khaki;
    text-align: center;
}

#page h3 {
    font-size: 2.6em;
    font-weight: 300;
    color: palegreen;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#page p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    line-height: 1.7;
}

.active {
    background-color: rgba(0, 0, 0, 0.993);
    color: khaki;
}


.card {
    width: 1000px;
    padding: 10px;
    background: linear-gradient(to right, lightgreen, limegreen);
    color: midnightblue;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Franklin Gothic;
    border: 2px solid lightgreen;
    border-radius: 12px;
    font-size: 20px;
}

.inner {
    width: 900px;
    padding: 5px;
    background: linear-gradient(to left, cyan, lightblue);
    color: maroon;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-left: 5px solid maroon;
    border-right: 2px solid azure;
    border-top: 2px solid azure;
    border-bottom: 2px solid azure;
    border-radius: 2px;
    font-size: 20px;
}

.inPara {
    margin-left: 150px;
    font-size: 20px;
    color: white;
}

.capper{
    font-variant: small-caps;
}

.inner_b{
    width:200px;
    height:30px;
    text-decoration:none;
    padding:5px;
    background-color:darkred;
    color: khaki;
    border: 2px solid darkred;
    border-radius: 4px;
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 10px;
    box-shadow:0 12px 12px 0 rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.inner_b:hover{
    background-color:transparent;
    color:midnightblue;
}